<%= form_with model: service_request, class: "form-panel wide-form" do |form| %>
  <% page = @service_request_form_page %>
  <%= form_errors_for(service_request) %>
  <%= render page.context_partial, page: page, form: form %>
  <%= render page.site_field_partial, page: page, form: form %>
  <%= render page.provider_field_partial, page: page, form: form %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ServiceRequest::PRIORITIES.map { |priority| [priority.humanize, priority] }, {}, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6 %>
  </div>

  <div class="form-actions">
    <%= form.submit "Create Request", class: "primary-button" %>
  </div>
<% end %>
