<% content_for :title, "Facility Manager Dashboard" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Facility Manager</p>
    <h1>Facility Manager Dashboard</h1>
  </div>
  <%= render "shared/action", action: facility_manager_dashboard_action(@managed_sites) %>
</section>

<%= render "request_summary", open_requests: @open_requests, urgent_requests: @urgent_requests, recent_requests: @recent_requests %>

<%= render "reporting_section", reporting: @reporting, title: "Facility Reporting" %>

<section class="section-block">
  <div class="section-header">
    <h2>Facility Views</h2>
  </div>

  <ul class="link-list">
    <li><%= link_to "View Facility Requests", service_requests_path %></li>
    <li><%= link_to "View Managed Sites", customer_sites_path %></li>
  </ul>
</section>

<%= render "recent_requests", service_requests: @recent_requests, title: "Facility Requests" %>
