<%= form_with model: customer, class: "form-panel wide-form" do |form| %>
  <%= form_errors_for(customer) %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :account_status, "Status" %>
    <%= form.select :account_status, Customer::ACCOUNT_STATUSES.map { |status| [status.humanize, status] }, {}, required: true %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry, placeholder: "property_management" %>
  </div>

  <div class="field">
    <%= form.label :quote_approval_threshold_cents, "Quote Approval Threshold" %>
    <%= form.number_field :quote_approval_threshold_cents, min: 0, step: 100, required: true %>
    <p class="field-hint">Stored in cents. A value of 50000 means quotes above $500 require approval.</p>
  </div>

  <div class="form-actions">
    <%= form.submit submit_label(customer, create: "Create Customer", update: "Update Customer"), class: "primary-button" %>
  </div>
<% end %>
