<%= form_with model: service_provider, class: "form-panel wide-form" do |form| %>
  <%= form_errors_for(service_provider) %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :provider_type, "Type" %>
    <%= form.select :provider_type, ServiceProvider::PROVIDER_TYPES.map { |type| [type.humanize, type] }, {}, required: true %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ServiceProvider::STATUSES.map { |status| [status.humanize, status] }, {}, required: true %>
  </div>

  <div class="form-actions">
    <%= form.submit submit_label(service_provider, create: "Create Provider", update: "Update Provider"), class: "primary-button" %>
  </div>
<% end %>
