<%= form_with model: customer_site, class: "form-panel wide-form" do |form| %>
  <%= form_errors_for(customer_site) %>

  <div class="field">
    <%= form.label :customer_id, "Customer" %>
    <%= form.collection_select :customer_id, @customer_options, :id, :name, { prompt: "Select a customer" }, required: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :site_status, "Status" %>
    <%= form.select :site_status, CustomerSite::SITE_STATUSES.map { |status| [status.humanize, status] }, {}, required: true %>
  </div>

  <div class="field">
    <%= form.label :facility_manager_id, "Facility Manager" %>
    <%= form.collection_select :facility_manager_id, @facility_manager_options, :id, :name, { prompt: "Select a facility manager" } %>
    <p class="field-hint">Active sites require at least one assigned facility manager.</p>
  </div>

  <div class="field">
    <%= form.label :address_line_1, "Address Line 1" %>
    <%= form.text_field :address_line_1, required: true %>
  </div>

  <div class="field">
    <%= form.label :address_line_2, "Address Line 2" %>
    <%= form.text_field :address_line_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, required: true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, required: true %>
  </div>

  <div class="field">
    <%= form.label :postal_code, "Postal Code" %>
    <%= form.text_field :postal_code, required: true %>
  </div>

  <div class="form-actions">
    <%= form.submit submit_label(customer_site, create: "Create Site", update: "Update Site"), class: "primary-button" %>
  </div>
<% end %>
