<div class="table-wrap">
  <table class="data-table">
    <thead>
      <tr>
        <% users_table.columns.each do |column| %>
          <th><%= data_table_sort_link(users_table, column) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.humanize %></td>
          <td><%= role_names(user) %></td>
          <td><%= active_status_label(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
