<% content_for :title, "Users" %>

<section class="page-header">
  <div>
    <p class="eyebrow">Administration</p>
    <h1>Users</h1>
  </div>
  <%= link_to "Role Assignments", admin_role_assignments_path, class: "secondary-button" %>
</section>

<%= turbo_frame_tag @users_table.frame_id, target: "_top", data: { turbo_action: "advance" } do %>
  <%= render "shared/data_tables/controls", table: @users_table, search_placeholder: "Search users, emails, roles" %>

  <%= render_collection_state(
        @users,
        present_partial: "admin/users/table",
        empty_title: @users_table.empty_title,
        empty_message: @users_table.empty_message,
        locals: { users: @users, users_table: @users_table }
      ) %>

  <%= render "shared/data_tables/pagination", table: @users_table %>
<% end %>
